@model SV19T1081011.UserInterface.Models.UserInterfaceOutput
<main id="main">
    <!-- ======= Search Results ======= -->
    <section id="search-result" class="search-result">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @{
                        int pageSize = (Model.RowCount + 4) / 5;
                        int currentPage = 1;
                        if (Request.QueryString["page"] != null)
                        {
                            currentPage = Int16.Parse(Request.QueryString["page"]);
                        }
                    }
                    <h2 class="category-title">@Model.Category.CategoryName</h2>
                    <h5 style="margin-bottom: 2em;">Có tất cả @Model.RowCount bài viết, bạn đang ở trang @currentPage trên tổng số @pageSize trang.</h5>
                    @foreach (var item in Model.List)
                    {
                        <div class="d-md-flex post-entry-2 small-img">
                            <a href="~/@item.Category.CategoryUrlName/@item.UrlTitle" class="me-4 thumbnail">
                                <img src="http://localhost:52854/@item.Image" alt="" class="img-fluid">
                            </a>
                            <div>
                                <div class="post-meta"><span class="date">@item.Category.CategoryName</span> <span class="mx-1">&bullet;</span> <span>@Html.Raw(string.Format("{0:dd/MM/yyyy}", @item.CreatedTime))</span></div>
                                <h3><a href="~/@item.Category.CategoryUrlName/@item.UrlTitle">@item.Title</a></h3>
                                <p>@item.BriefContent</p>
                                <div class="d-flex align-items-center author">
                                    <div class="name">
                                        <h3 class="m-0 p-0">@item.Creator.FullName</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- Paging -->
                    <div class="text-center py-4">
                        <div class="custom-pagination">
                            @{
                                int prevPage = currentPage - 1;
                                int nextPage = currentPage + 1;
                                String baseUrl = Model.Category.CategoryUrlName + "?";
                                String searchValue = Request.QueryString["searchValue"];
                                if (searchValue != null)
                                {
                                    baseUrl += "searchValue=";
                                    baseUrl += searchValue;
                                    baseUrl += "&page";
                                }
                                else
                                {
                                    baseUrl += "page";
                                }
                                <a href="~/@baseUrl=1" class="prev"><<</a>
                                if (prevPage != 0)
                                {
                                    <a href="~/@baseUrl=@prevPage" class="prev"><</a>
                                }
                                for (int page = 1; page <= pageSize; page++)
                                {
                                    if (page == currentPage)
                                    {
                                        <a href="~/@baseUrl=@page" class="active">@page</a>
                                    }
                                    else
                                    {
                                        <a href="~/@baseUrl=@page">@page</a>
                                    }
                                }
                                if (nextPage <= pageSize)
                                {
                                    <a href="~/@baseUrl=@nextPage" class="prev">></a>
                                }
                                <a href="~/@baseUrl=@pageSize" class="prev">>></a>
                            }
                        </div>
                    </div><!-- End Paging -->

                </div>
            </div>
        </div>
    </section> <!-- End Search Result -->

</main><!-- End #main -->