@{
    var userData = WebUserData.FromCookie(User.Identity.Name);
}

<div class="box box-primary">
    <div class="box-body">
        <form action="~/Account/ChangePassword" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="userId" value="@userData.UserId" />
            <input type="hidden" name="userName" value="@userData.UserName" />
            <div class="form-group">
                <label for="oldPassword">Mật khẩu cũ:</label>
                <input type="password" class="form-control" name="oldPassword" value="">
                @Html.ValidationMessage("oldPassword", new { @style = "color: #ff0000;" })
            </div>
            <div class="form-group">
                <label for="newPassword">Mật khẩu mới:</label>
                <input type="password" class="form-control" name="newPassword" value="">
                @Html.ValidationMessage("newPassword", new { @style = "color: #ff0000;" })
            </div>
            <div class="form-group">
                <label for="againNewPassword">Nhập lại mật khẩu mới:</label>
                <input type="password" class="form-control" name="againNewPassword" value="">
                @Html.ValidationMessage("againNewPassword", new { @style = "color: #ff0000;" })
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-floppy-disk"></i> Submit
            </button>

            <a href="~/Account" class="btn btn-warning">
                Quay lại
            </a>
            @*@Html.ValidationSummary()*@
        </form>
    </div>
</div>