@model SV19T1081011.UserInterface.Models.UserInterfaceOutput
<footer id="footer" class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <h3 class="footer-heading">Về chúng tôi</h3>
                    <p style="text-align: justify;">Akira là một tờ báo tại Việt Nam được thành lập bởi tập đoàn FPT, ra mắt vào ngày 26 tháng 2 năm 2001 và hoạt động theo giấy phép số 548/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 24/08/2021, hiện tại do Bộ Khoa học và Công nghệ quản lý.</p>
                    <p style="text-align: justify;">Theo trang web Alexa, Akira được xếp hạng top 5 trong những trang web có lượng truy cập nhiều nhất tại Việt Nam vào năm 2019.[2]</p>
                    <p style="text-align: justify;">Tòa soạn của báo được đặt tại tầng 10, tòa A FPT Tower, số 10 Phạm Văn Bạch, phường Dịch Vọng, quận Cầu Giấy, Hà Nội. Văn phòng đại diện được đặt tại tầng 6, Tòa nhà Exchange Tower - số 1 đường Nam Kỳ Khởi Nghĩa, Phường Nguyễn Thái Bình, Quận 1, thành phố Hồ Chí Minh.</p>
                </div>
                <div class="col-lg-2">
                    <h3 class="footer-heading">Phân loại tin</h3>
                    <ul class="footer-links list-unstyled">
                        @foreach (var item in Model.Categories)
                        {
                            <li><a href="~/@item.CategoryUrlName"><i class="bi bi-chevron-right"></i> @item.CategoryName</a></li>
                        }
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h3 class="footer-heading">Gần đây nhất</h3>
                    <ul class="footer-links footer-blog-entry list-unstyled">
                        @foreach (var item in Model.MostRecentPosts.Select((value, index) => new { index, value }))
                        {
                            if (item.index < 4)
                            {
                                <li>
                                    <a href="~/@item.value.Category.CategoryUrlName/@item.value.UrlTitle" class="d-flex align-items-center">
                                        <img src="http://localhost:52854/@item.value.Image" alt="" class="img-fluid me-3">
                                        <div>
                                            <div class="post-meta d-block"><span class="date">@item.value.Category.CategoryName</span> <span class="mx-1">&bullet;</span> <span>@Html.Raw(string.Format("{0:dd/MM/yyyy}", @item.value.CreatedTime))</span></div>
                                            <span>@item.value.Title</span>
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-legal">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <div class="copyright">
                        Copyright 2022 &copy; <strong><span>Akira Corporation</span></strong>. All Rights Reserved
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>